@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel__slide
    width: 590px
  .hotel
    &-slider
      &__img
        width: 100%
        height: 100%
        object-fit: cover

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 760px
  .logo
    width: 132px
  .header
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
  .search
    &__input
      width: 340px
  .header-menu
    padding-top: 22px
    padding-bottom: 22px
    &__link
      font-size: 12px
      line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .header
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      border: none
      background-color: #ffffff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: #333333
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
  .stars
    flex-basis: auto

  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 100px
        left: 50%
        &--prev
          left: 45%
          margin-left: -45px
          transform: translate(-50% 0)
        &--next
          right: 45%
          margin-right: 45px
          transform: translate(50% 0)

@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
