@media (max-width: 1200px)
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 760px
  .logo
    width: 132px
  .header
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px
  .header-menu
    padding-top: 22px
    padding-bottom: 22px
    &__link
      font-size: 12px
      line-height: 15px

@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .header
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      width: 16px
      height: 11px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      border: none
      background-color: #ffffff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: #333333

@media (max-width: 576px)
  .logo
    width: 99px
