@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel__slide
    width: 590px
  .hotel
    &-slider
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 760px
  .logo
    width: 132px
  .header
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
  .search
    &__input
      width: 340px
  .header-menu
    padding-top: 22px
    padding-bottom: 22px
    &__link
      font-size: 12px
      line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 230px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-items: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 5

@media (max-width: 768px)
  body
    padding-top: 78px
  .container
    max-width: 576px
    width: 92%
  .header
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
    &__nav
      display: none
      position: fixed
      top: 78px
      right: 0
      bottom: 0
      left: 0
      &--visible
        display: block
    &__mobile
      &--fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 99
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      border: none
      background-color: #ffffff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: #333333
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
  .stars
    flex-basis: auto

  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 100px
        left: 50%
        &--prev
          left: 45%
          margin-left: -45px
          transform: translate(-50% 0)
        &--next
          right: 45%
          margin-right: 45px
          transform: translate(50% 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 250px
  .footer
    &__input
      flex-basis: 100%

@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
